.feedcard-container {
    width: 320px;
    height: 460px;
    position: relative;
    border-radius: 32px;
}

.feedcard-info {
    position: absolute;
    bottom: 0;
    background: linear-gradient(
        360deg, 
        #000000 18.16%, 
        rgba(0, 0, 0, 0.6) 74.65%, 
        rgba(0, 0, 0, 0) 100%, 
        rgba(0, 0, 0, 0.30515) 100%
    );
    border-radius: 0px 0px 32px 32px;
    padding: 1rem;
    width: 100%;
}

.user-container {
    display: flex;
    justify-content: space-between;
}

.reaction-container {
    display: flex;
    gap: 1em;
}