.input-file {
    padding: .3em;
    min-width: 400px !important;
}

::-webkit-file-upload-button{
    color: white;
    background-color: #363636;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: .3rem;
}